.myPostsWrapper{
    padding: 20px;  
    padding-top: 0;
}
 

.myPosts{ 
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-gap: 10px;
    border: 1px solid #000;
    border-radius: 10px;    
    padding: 10px;
    cursor: pointer;
}
.myPosts a{
    text-decoration: none;
    color: #000; 
}

.myPostItem{ 
    margin-top: 15px;
}
 
.myPostItem .imgBlock{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 190px;
    border: 3px solid #000;
    border-radius: 10%;    
    margin: 0 auto;
    overflow-y: hidden;
}

.myPostItem img{
    width: 100%;  
}

.myPostItem p{ 
    margin: 5px 0 5px 2px;
}
.myPostItem .postTitle{
    font-size: 0.9rem; 
}

.myPostItem .cost{
    font-size: 0.9rem;
    font-weight: bold;
}

 
@media (max-width: 1024px){   
    .myPosts{  
        grid-template-columns: repeat(4, 1fr);  
    } 
}
@media (max-width: 768px){  
    .myPosts{  
        grid-template-columns: repeat(3, 1fr);  
    } 
}  
@media (max-width: 576px){   
    .myPostItem .imgBlock{   
        height: 350px;
        width: 350px; 
    }
    .myPostItem p{  
        width: 190px;
    }
}