.facultyPostsWrapper{
    padding: 40px; 
}
.facultyPosts{ 
    display: block;   
}
.facultyPosts a{ 
    text-decoration: none;
    color: black;
}

.facultyPostItem{ 
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    width: 80%; 
    margin-top: 35px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    cursor: pointer; 
}
 
.imgBlock{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 3px solid #000;
    border-radius: 10%;    
    margin: 0 auto;
    overflow-y: hidden
}
.imgBlock img{
    width: 100%;
}

.descriptionBlock{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
} 
.descriptionBlock p{ 
    margin: 5px 0 5px 8px;
}
.descriptionBlock .postTitle{
    font-size: 1.1rem;
    font-weight: bold; 
    margin-top: 10px;
}
.descriptionBlock .description{ 
    padding-right: 20px;
    font-size: 0.9rem;
}
.descriptionBlock .cost{
    font-size: 0.9rem;
    font-weight: bold;
}

.nullPosts {
    font-size: 1.25rem; 
}

@media (max-width: 1024px){ 
    .facultyPostItem{  
        width: 90%;
    }
    .facultyPostItem .imgBlock{   
        height: 180px;
        width: 180px; 
    }
}

@media (max-width: 768px){ 
    .facultyPostItem{  
        width: 100%; 
    }
    .descriptionBlock{
        grid-template-rows: 1fr 2.4fr 1fr;
    }
}

@media (max-width: 576px){ 
    .facultyPostItem .imgBlock{   
        height: 80px;
        width: 80px; 
    } 
    .descriptionBlock{
        grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    }
}