.descriptionWrapper{
    display: grid; 
    grid-template-areas: 'avatar about settings';
    grid-template-columns: 1fr 3fr 2fr; 
    grid-gap: 20px;
    padding: 20px 20px 40px;   
}
.avatarBlock{
    display: flex;
    align-items: center;
    width: 230px;
    height: 230px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #bebebe;
}
.avatar{
    grid-area: avatar;
    width: 100%;
}

.aboutBlock{
    grid-area: about;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}

/* Name, username */
.names p{
    margin: 0;
}
.names .name{
    font-weight: bold;
    font-size: 1.6rem;
}
.names .username{
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.about{
    display: flex;
    width: 55%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 70%;
}
.about .faculty{
    width: 80px;
}
.about .faculty img{
    width: 100%;
}
.about .postLength,
.about .rating{
    text-align: center;
    font-size: 1rem;
    font-weight: bold; 
}
.about .postLength p,
.about .rating p{
    background: #174b81;
    margin: 0;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;        
    justify-content: center;
    align-items: center;
} 


.settingsButtons{
    grid-area: settings;
    text-align: right;
}
.settingsButtons *{
    display: block;
    text-align: center;
    width: 60%; 
    height: 20%;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px 15px;
    margin: 0 auto 20px;
    border: none;
    border-radius: 10px;
    background: #174b81;
    color: #fff;
    box-sizing: content-box;
}
.phoneNumber{ 
    width: 40%;
    height: 10%;
    line-height: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background: #174b81;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
} 

.successSubmit{
    color: green;
}


@media (max-width: 1024px){   
    .descriptionWrapper{ 
        grid-template-areas: 'avatar about'
        'settings settings';
        grid-template-columns: 1fr 3fr;  
    }
    .about{ 
        width: 45%; 
    }
    .settingsButtons{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }     
    .settingsButtons *{
        font-size: 0.9rem;  
        width: 100%;  
        height: auto;
        display: flex;
        vertical-align: baseline;
        place-items: center;
        place-content: center;
        margin: 0 15px; 
    }
}
@media (max-width: 768px){   
    .about{ 
        width: 70%; 
        flex-basis: 0%;
    }
}  
@media (max-width: 576px){   
    .about{
        width: 60%;
        flex-basis: 50%;
    }
    .about .faculty{
        width: 140px;
    } 
    .about .postLength,
    .about .rating{ 
        font-size: 1rem; 
    }
    .about .postLength p,
    .about .rating p{ 
        width: 80px;
        height: 80px; 
        margin-bottom: 15px;
    } 

    .settingsButtons{
        flex-wrap: wrap;
        flex-direction: row;
    } 
    .settingsButtons *{
        font-size: 1rem;
        flex-basis: 42%;
        margin-bottom: 20px;
        padding: 20px;
    }
    .avatarBlock{
        width: 350px;
        height: 350px;
    }
}