.topPosts{
    padding: 20px;  
}

.topPostsSlider{  
    display: block;
    border: 1px solid #000;
    border-radius: 10px;    
    padding: 10px;
    cursor: pointer;
} 

.topPostItem{ 
    margin-top: 15px;
    max-height: 250px;
    max-width: 210px;
    height: 100%;
    width: 100%;
}
 
.topPostItem .imgBlock{  
    display: flex;
    place-items: center;
    border: 3px solid #000;
    border-radius: 10%;    
    margin: 0 auto;
    overflow: hidden;  
    width: 180px; 
    height: 180px;  
}

.topPostItem img{
    width: 100%;
}

.topPostItem p{ 
    margin: 5px 0 5px 2px;
}
.topPostItem .postTitle{
    font-size: 0.9rem; 
}

.topPostItem .cost{
    font-size: 0.9rem;
    font-weight: bold;
}


/* Slider dots */

.slidersStyle button:before{
    font-size: 1.8rem;
    color: #000 !important;
} 


@media (max-width: 1024px) {  
    .topPostItem{   
        max-height: 200px;
        max-width: 200px; 
    }
    .topPostItem .imgBlock{ 
        width: 160px;
        height: 160px;
    } 
} 
@media (max-width: 576px) {  
    .topPostItem{   
        max-height: 120px;
        max-width: 120px;
    } 
    .topPostItem .imgBlock{ 
        width: 140px;
        height: 140px;
        min-height: 120px;
        max-height: 100%;
        max-width: 100%;
    } 
}